[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "2.7"

[packages]
Flask = "*"
whitenoise = "*"
Flask-Common = "*"
pyquery = "*"
hypermark = "*"
meinheld = "*"
